# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
from pprint import pprint

# Import API key
google_api_key = "AIzaSyCIFTDxPvHr2u7_N47_O5SQWqip2tYo5wI"
#pd.read_csv("google_api_key.csv",header=None).at[0,0]
#from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
city_data = pd.read_csv("cleaned_city_data.csv")
vacation_data = city_data.drop(columns=['Unnamed: 0'])
vacation_data.head()

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Bluff,-46.60,168.33,48.15,76,79,12.12,NZ,1594687808
1,Qaanaaq,77.48,-69.36,43.77,67,2,7.20,GL,1594687809
2,Fairfield,41.27,-73.32,81.00,57,1,5.82,US,1594687811
3,Kapaa,22.08,-159.32,82.40,74,40,14.99,US,1594687812
4,Cao Bang,22.67,106.25,81.59,79,7,2.28,VN,1594687814

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
gmaps.configure(api_key=google_api_key)
locations = vacation_data[["Lat", "Lng"]].to_numpy()
humidity = vacation_data['Humidity']
fig = gmaps.figure()
fig.add_layer(gmaps.heatmap_layer(locations, weights=humidity))
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [4]:
drop_weather1 = vacation_data.drop(vacation_data[vacation_data["Max Temp"] < 76].index, inplace=False)
drop_weather2 = drop_weather1.drop(drop_weather1[drop_weather1["Max Temp"] < 67].index, inplace=False)
drop_weather3 = drop_weather2.drop(drop_weather2[drop_weather2["Wind Speed"] > 10].index, inplace=False)
drop_weather4 = drop_weather3.drop(drop_weather3[drop_weather3["Cloudiness"] > 1].index, inplace=False)
ideal_weather = drop_weather4.dropna(how='any')
ideal_weather.head()

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
2,Fairfield,41.27,-73.32,81.00,57,1,5.82,US,1594687811
12,Bethel,41.37,-73.41,77.00,57,1,5.82,US,1594687828
43,Tessalit,20.20,1.01,91.58,12,0,3.44,ML,1594687881
144,Singaraja,-8.11,115.09,82.24,66,0,2.21,ID,1594688040
168,Sur,22.57,59.53,83.44,70,0,9.06,OM,1594688074

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [5]:
hotel_df = ideal_weather[["City", "Country", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"]=""
hotel_param = {"radius":5000,"keyword":"hotel","key":google_api_key}
cities = ideal_weather[["City"]].copy()
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

for index, row in hotel_df.iterrows():
    #get Lat, lng from df
    lat = row["Lat"]
    lng = row["Lng"]
    
    #change location each iteration while leaving original parameters in place
    hotel_param["location"] = f"{lat},{lng}"
       
    #make request and print url
    name_address = requests.get(base_url, params=hotel_param).json()
    
    #Since some data may be missing, incorporate a try-except to skip any that are missing a data point.
    try: 
        airport_name = name_address["results"][0]["name"]
        airport_address = name_address["results"][0]["vicinity"]
        airport_rating = name_address["results"][0]["rating"]
        if airport_name is not None and airport_address is not None and airport_rating is not None:
            hotel_df.loc[index, "Airport Name"] = airport_name
            cities.loc[index, "Airport Address"] = airport_address
            cities.loc[index, "Airport Rating"] = airport_rating
    except (KeyError, IndexError):
        #print("Missing field/result...skipping.")
        continue

cities

,City,Airport Address,Airport Rating
2,Fairfield,NaN,NaN
12,Bethel,"81 Newtown Rd, Danbury",4.4
43,Tessalit,NaN,NaN
144,Singaraja,"Jl. Seririt- Singaraja No.Desa, Pemaron, Kabup...",4.4
168,Sur,Sur,3.8
190,Hamilton,NaN,NaN
192,Kysyl-Syr,NaN,NaN
198,Kumul,"Hami, 天山北路32号环球国际综合楼9f-14f",5.0
203,Hong Kong,"1 North Point Estate Ln, North Point",4.2
240,Lensk,"Ulitsa Ob""Yezdnaya, 11 А, Lensk",4.3
249,Ţahţā,"As Sawameah Gharb, Markaz Tahta",3.0
252,Bon Air,"9901 Midlothian Turnpike, Richmond",4.1
258,Olivenza,"Ctra. Badajoz, Km 23.7, Olivenza",3.7
298,Pahrump,"861 South, NV-160, Pahrump",4.5
332,Barra de Tecoanapa,"Costera Laud s/n Playa Tortuga, Marquelia",4.1
376,Moro,Moro,0.0
399,Mandalī,Bald Ruz,2.7
404,Cumberland,"2055 Cedar Creek Rd, Fayetteville",4.6
444,Shubarshi,NaN,NaN
491,Sakakah,7869 طريق الملك خالد، Sakaka,3.9
508,Brewster,"7-11 Peach Lake Rd, Brewster",5.0
523,Baiquan,"Street, Dongfanghong Street, North side of Eas...",0.0
535,Ibrā’,Ibra,4.5
553,Borazjan,"Borazjan, Sazmani St, فرمانداری شهرستان دشتستان",2.8

In [6]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [7]:
fig = groups.figure()
# Add marker layer ontop of heat map
hotel_layer = gmaps.marker_layer(locations, info_box_content-hotel_info)

# Display figure
fig.add_layer(heat_layer)
fig.add_layer(hotel_layer)
fig

NameError: name 'groups' is not defined