# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
from pprint import pprint

# Import API key
google_api_key = "AIzaSyCIFTDxPvHr2u7_N47_O5SQWqip2tYo5wI"
#pd.read_csv("google_api_key.csv",header=None).at[0,0]
#from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
city_data = pd.read_csv("cleaned_city_data.csv")
vacation_data = city_data.drop(columns=['Unnamed: 0'])
vacation_data.head()

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Bluff,-46.60,168.33,48.15,76,79,12.12,NZ,1594687808
1,Qaanaaq,77.48,-69.36,43.77,67,2,7.20,GL,1594687809
2,Fairfield,41.27,-73.32,81.00,57,1,5.82,US,1594687811
3,Kapaa,22.08,-159.32,82.40,74,40,14.99,US,1594687812
4,Cao Bang,22.67,106.25,81.59,79,7,2.28,VN,1594687814

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
gmaps.configure(api_key=google_api_key)
locations = vacation_data[["Lat", "Lng"]].to_numpy()
humidity = vacation_data['Humidity']
fig = gmaps.figure()
fig.add_layer(gmaps.heatmap_layer(locations, weights=humidity))
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [4]:
drop_weather1 = vacation_data.drop(vacation_data[vacation_data["Max Temp"] < 76].index, inplace=False)
drop_weather2 = drop_weather1.drop(drop_weather1[drop_weather1["Max Temp"] < 67].index, inplace=False)
drop_weather3 = drop_weather2.drop(drop_weather2[drop_weather2["Wind Speed"] > 10].index, inplace=False)
drop_weather4 = drop_weather3.drop(drop_weather3[drop_weather3["Cloudiness"] > 1].index, inplace=False)
ideal_weather = drop_weather4.dropna(how='any')
ideal_weather.head()

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
2,Fairfield,41.27,-73.32,81.00,57,1,5.82,US,1594687811
12,Bethel,41.37,-73.41,77.00,57,1,5.82,US,1594687828
43,Tessalit,20.20,1.01,91.58,12,0,3.44,ML,1594687881
144,Singaraja,-8.11,115.09,82.24,66,0,2.21,ID,1594688040
168,Sur,22.57,59.53,83.44,70,0,9.06,OM,1594688074

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [13]:
hotel_df = ideal_weather[["City", "Country", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"]=""
hotel_param = {"radius":5000,"keyword":"hotel","key":google_api_key}
cities = ideal_weather[["City"]].copy()
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

for index, row in hotel_df.iterrows():
    #get Lat, lng from df
    lat = row["Lat"]
    lng = row["Lng"]
    
    #change location each iteration while leaving original parameters in place
    hotel_param["location"] = f"{lat},{lng}"
       
    #make request and print url
    name_address = requests.get(base_url, params=hotel_param).json()
    
    #Since some data may be missing, incorporate a try-except to skip any that are missing a data point.
    try: 
        hotel_name = name_address["results"][0]["name"]
        hotel_address = name_address["results"][0]["vicinity"]
        hotel_rating = name_address["results"][0]["rating"]
        if hotel_name is not None and hotel_address is not None and hotel_rating is not None:
            hotel_df.loc[index, "Hotel Name"] = hotel_name
            cities.loc[index, "Hotel Address"] = hotel_address
            cities.loc[index, "Hotel Rating"] = hotel_rating
    except (KeyError, IndexError):
        #print("Missing field/result...skipping.")
        continue

hotel_df

,City,Country,Lat,Lng,Hotel Name
2,Fairfield,US,41.27,-73.32,
12,Bethel,US,41.37,-73.41,Courtyard by Marriott Danbury
43,Tessalit,ML,20.20,1.01,
144,Singaraja,ID,-8.11,115.09,Puri Bagus Lovina Resort
168,Sur,OM,22.57,59.53,Sur Plaza Hotel
190,Hamilton,US,39.18,-84.53,
192,Kysyl-Syr,RU,63.90,122.76,
198,Kumul,CN,42.80,93.45,哈密环球大酒店
203,Hong Kong,HK,22.29,114.16,Hyatt Centric Victoria Harbour Hong Kong
240,Lensk,RU,60.73,114.93,Mini-hotel Uyut
249,Ţahţā,EG,26.77,31.50,Taqwa Club
252,Bon Air,US,37.52,-77.56,Four Points by Sheraton Richmond
258,Olivenza,ES,38.68,-7.10,Hotel Heredero
298,Pahrump,US,36.21,-115.98,Holiday Inn Express & Suites Pahrump
332,Barra de Tecoanapa,MX,16.52,-98.75,Hotel Garapacho
376,Moro,PK,26.66,68.00,Lahooti hotel
399,Mandalī,IQ,33.75,45.55,فندق مندلي
404,Cumberland,US,35.05,-78.87,Tru by Hilton Fayetteville I 95
444,Shubarshi,KZ,48.59,57.19,
491,Sakakah,SA,29.97,40.21,Raoum Inn Hotel
508,Brewster,US,41.40,-73.62,Comfort Inn
523,Baiquan,CN,47.58,126.08,Baiquan Qiankun Business Hotel
535,Ibrā’,OM,22.69,58.53,Golden Rays hotel
553,Borazjan,IR,29.27,51.22,Negin Hotel Dashtestan-Borazjan

In [14]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [18]:
# Add marker layer ontop of heat map
hotel_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# Display figure
fig.add_layer(hotel_layer)
fig

Figure(layout=FigureLayout(height='420px'))